:root {
  font-family: 'Noto Sans KR', Noto Sans, -apple-system, BlinkMacSystemFont, system-ui, Noto Sans KR;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5F7FA; /* 배경 색상 - 연한 회색 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2D3748; /* 텍스트 색상 - 짙은 회색 */
  text-decoration: inherit;
}
a:hover {
  color: #FFA41B; /* 링크 호버 색상 변경 - 오렌지 */
}

body {
  margin: 0;
  display: flex;
  
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #2E5EAA; /* 버튼 색상 변경 - 아이덴티티 블루 */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s;
}
button:hover {
  background-color: #FFA41B; /* 버튼 호버 색상 변경 - 오렌지 */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 800;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#app {
  max-width: 100vw;
  text-align: center;
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #FFA41B; /* 라이트 모드 링크 호버 색상 변경 - 오렌지 */
  }
  button {
    background-color: #2E5EAA; /* 라이트 모드 버튼 색상 변경 - 아이덴티티 블루 */
  }
}
